<launch>
    <arg name="body_frame"        default="uav_1/base_link"/>
    <arg name="local_frame"       default="uav_1/odom"/>
    <arg name="marker_size"       default="0.15"/>
    <arg name="marker_ids"        default="[1, 2, 3, 4, 5, 6, 7, 8, 9]"/>
    <arg name="drones_id_map"     default="{'uav_1':1 , 'uav_2':2, 'uav_3':3, 'uav_4':4, 'uav_5':5, 'uav_6':6, 'uav_7':7, 'uav_8':8, 'uav_9':9}"/>
    <arg name="use_visualization" default="true"/>
    <arg name="viz_marker_size"   default="0.25"/>

    <arg name="camera_topic"      default="/uav_1/camera/color/image_raw"/>
    <arg name="camera_info_topic" default="/uav_1/camera/color/camera_info"/>
    <arg name="drones_topic"      default="/vision_stack/drones"/>
    <arg name="drone_viz_topic"   default="/vision_stack/uav_1_drones_visualization"/>


    <node pkg="sesame_navigation" type="detect_drones.py" name="obstacle_drones_uav_1" output="screen">
        <param name="body_frame" type="string" value="$(arg body_frame)"/>
        <param name="local_frame" type="string" value="$(arg local_frame)"/>
        <param name="marker_size" type="double" value="$(arg maker_size)"/>
        <rosparam param="marker_ids">
            $(arg marker_ids)
        </rosparam>
        <rosparam param="drones_id_map">
            $(arg drones_id_map)
        </rosparam>
        <param name="use_visualization" type="bool" value="$(arg use_visualization)"/> 
        <param name="viz_marker_size" type="double" value="$(arg viz_marker_size)"/>

        <remap from="/camera/color/image_raw" to="$(arg camera_topic)"/>
        <remap from="/camera/color/camera_info" to="$(arg camera_info_topic)"/>
        <remap from="drones" to="$(arg drones_topic)"/>
        <remap from="drone_viz" to="$(arg drone_viz_topic)"/>
    </node>
</launch>
